# Gym Duckietown
pyglet
gym>=0.9.0
pyzmq>=16.0.0
scikit-image>=0.13.1
pyyaml>=3.11
cloudpickle
duckietown_slimremote>=2018.8.2
pygeometry
dataclasses

# IPython
jupyter
gitpython
ipywidgets

# Varia
opencv-python==4.0.0.21
numpy==1.16.2
carnivalmirror==0.6.2

# AIDO Submission Infrastructure
zuper-utils>=2.0.2,<3
zuper-nodes-z5==5.0.8
zuper-commons-z5==5.0.6
aido-protocols-daffy==5.0.18

duckietown-world-daffy>=5.0.8
duckietown-challenges-daffy==5.0.7
